body { display: block;
		font-size:15px;
		width: 100%;
		height: 100%;
		background: #ADD8E6;
	}
header, footer {
		position: relative; 
		background: #1E90FF;
		color:white;
		size: 10%;
		border-radius: 2em;
		width: 95%;
		height: 10%;
		}
		.transparent {
	filter:alpha(opacity=50);
	-moz-opacity:0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
}
.wrapper {
	width:960px;
	margin:0 auto;
}
#menu li {
  float:left;
  margin-right:30px;
}

 /* Dropdown Button */
.dropbtn {
    background-color: #ADD8E6;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #ADD8E6;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ADD8E6;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ADD8E6}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
